.appBarMain {
    display: flex;
    justify-content: space-between !important;
    position: fixed;
    z-index: 5;
    

}
.shopIcon{
    width: 100px;
    height: 40px;
    color: beige;
    margin: 5px;
   
}
.button {
    border: none;
    font-size: 15px;
    border-radius: 10px;
    color: white;
    height: 30px;
    width: 100px;
    margin-left: 10px;
    background-color: rgb(76, 76, 80);
    box-shadow: 0px 1px 10px rgb(52, 49, 49);
}
.button:hover {
    color: rgb(128, 128, 131);
}

.appName{

font-size:40px;
background-image: linear-gradient(60deg,#f96060, #5e78cc );
    background-clip: text;
    color: transparent;
    margin-right: 5px;
    
}

@media screen and (max-width: 360px) {
    .appName {
        margin: 4px;
        font-size:30px ;
    }
    
}