.mainContainer{
    background-color: #dcdcdc;
    position: relative;
    width: 100% !important;
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}
.shopSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    
}
.Image{
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius:50%;
        margin-right: 0px;
       

}
.shopName{
  
    font-weight: bold;
   font-size: 36px;
   margin-top: 30px;
   z-index: 1;
   margin-left: 30px;
}
.superText{
        
       color: white;
       font-size: 5em;
       font-weight: bold;
       text-transform: uppercase;
       max-width: 100%;
       z-index: 1;
    }
.shopDescription{
    width: 100%;
}
.rating , .followers{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
   
    border-radius: 6px;
    padding: 10px;
    text-transform: uppercase;
    gap: 4px;
   
}
.Button{
    width: 100% !important;
    height: 50px;
   
    border-radius: 10px;
    color: white;
    position: relative;
    bottom: 17%;
background: rgb(242, 10, 30);
    background: linear-gradient(90deg, rgba(242, 10, 30, 1) 0%, rgba(10, 114, 238, 1) 100%);

    
    
}
.Button:hover{
transition-duration: 1s;
background-color: black;
color: white;
transition-duration: 1s ease;

}
.ButtonDiv{
   
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;

}
.ButtonDiv p{
   font-size: 16px;
   margin:5px 0px;
}
  .dealersIn {
      position: absolute;
      top: 30%;
      font-size: 30px;
  }
 .arrow{
    height: 100%;
}


@media screen and (min-width: 800px) {
   .Image{
    width: 250px !important;
    height:250px;
    
   }

   .dealersIn{
    
    top: 25%;
 font-size: 40px;
  }
   .shopName{
   
    font-size: 60px;
    position: absolute;
    top: 0;
   
   }
   .superText{
    font-size: 7em;
    position: absolute;
    top: 30%;
    
   }
   .shopSection{
    gap: 60px;
   }

   .Button{
    width: 50%!important ;
    position: absolute;
    bottom: 10%;
   }
   .rating,
   .followers {
       
     all: initial;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-bottom: 5%;
     font-size: 30px;
     font-weight: bold;

   }
   
    
   }

   @media screen and (max-width: 500px) {
    .shopName{
        position: relative;
        left: 30px;
    }
    .superText{
        font-size: 50px;
        margin-bottom: 10px;
    }
    .rating,
    .followers {
        font-weight: bold;
        font-size: 15px;
        
      
        border-radius: 6px;
        
        text-transform: uppercase;
        gap: 4px;
        position: absolute;
        bottom: 0;
        right: 0;
    
    } 
    .rating{
        position: absolute;
        right: 0;
        bottom: 20%;
    }
    .followers{
        position: absolute;
            bottom: 7%;
            right: 0;
    }
    
    .Image{
        position: absolute;
        right: 0;
        top: 0;
        width: 150px;
        height: 150px;
    }   

  

    .shopName{
        left: 0;
    }
    
       
   }

   @media screen and (max-width: 400px){
    .ButtonDiv p{
            font-size: 14px;
    }
    .superText{
        font-size: 40px;
    }
    .shopName{
        font-size: 35px;
        left: 15%;
    }

    .dealersIn{
        left: 10%;
        font-size: 27px;
   }

   }
