
.allShopsContainer{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
   align-items: center;
 
  
    
}
.lowlyRatedShopsContainer {
    width: 100% !important;
    padding: 100px;
    height: fit-content;
    margin-top: 40px;
    padding: 5px;
    
   
    
}

.handleMarginProblem{
    padding: 5px;
    margin: 45px 0px;
   
}
.shop{
   height: 100%;
   border: 1px solid gray;
    border-radius: 10px;
    position: relative;

}
.shopDetails{
  
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.shopImageContainer{
position: absolute;
    top: -10%;
    right: 36%;
    border-radius: 50%;
    z-index: 2;
    
    
}

.shopImage{
    border-radius: 50%;
}

.shopName{
    font-size: 50px;
    font-weight: bold;
}

.shopDescription{
    font-size: 17px;
    font-style: italic;
}

.visitButton{
    background-color: black;
    font-size: 20px;
    height: 50px;
    width: 100% !important;
    color: white;
    border-radius: 7px;
    border: 1px solid red;
}
.visitButton:hover{
 color: black;
}

.automatedScrollImage{
    width: 100%;
    height: 200px;
    display: block;
}

#maduka{
    color: yellow;
    font-size: 20px !important;
    
}

.carouselOneImage{
width: 200px;
height: 200px;
object-fit: contain;
border-radius: 10px;
margin-bottom: 20px;

}

@media screen and (max-width:450px) {


.shopName{
    font-size: 27px;
    font-weight: bold;
}
.shopImageContainer{
    position: absolute;
        top: -10%;
        right: 30%;
        border-radius: 50%;
        z-index: 2;
        overflow-x: hidden;


}
.handleMarginProblem {
    padding: 0px;
    margin: 45px 0px;

}
.carouselImageIndividual {
 all: initial !important;
    object-fit: cover;
    width: 150px !important;
    height: 150px !important;
}

.imagesSlidingContainer {
    all: initial !important;
    width: 100% !important;
    height: 150px;
    margin-bottom: 5px !important;
    display: flex !important;
    justify-content: center !important;;

}



}

.handleMarginProblem :hover{
 background-color: beige;
 transition-duration: .6s;
}


.divAndImageContainer{
    display: flex;
    align-items: center;
    
    

}

.carouselImage{

    object-fit: contain;
    width: 100%;
    height: 200px;
}

.imagesSlidingContainer{
    width: 100%;
    height: 250px;
    margin-bottom: 5px !;
   


}

.FAB{
    height: 70px;
    width: 70px;
    background-color: beige;
    border-radius: 50%;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 4;
    font-size: 40px;
    color: black!important;
    display: flex;
    justify-content: center;
    align-items: center;
box-shadow: 0px 4px 10px gray;
}

