
.allShopsContainer{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5px;
   align-items: center;
 
  
    
}
.lowlyRatedShopsContainer {
    width: 100% !important;
    padding: 100px;
    height: fit-content;
    margin-top: 40px;
    padding: 5px;
    
   
    
}

.handleMarginProblem{
    padding: 5px;
    margin: 45px 0px;
   
}

.shop{
   height: 100%;
   border: 1px solid gray;
    border-radius: 10px;
    position: relative;

}
.shop:hover{
    box-shadow: 0px 10px 10px gray;
        transition-duration: 1s;

}

.shopDetails{
  
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.shopImageContainer{
position: absolute;
    top: -13%;
    right: 32%;
    border-radius: 50%;
    z-index: 2;
    
    
}

.shopImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.shopName{
    font-size: 50px;
    font-weight: bold;
}

.shopDescription{
    font-size: 17px;
    font-style: italic;
}

.visitButton{
    background-color: black;
    font-size: 20px;
    height: 50px;
    width: 100% !important;
    color: white;
    border-radius: 7px;
    border: 1px solid red;
}


.automatedScrollImage{
    width: 100%;
    height: 200px;
    display: block;
}

@media screen and (max-width:450px) {
    .shopImage {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;
        }

.shopName{
    font-size: 27px;
    font-weight: bold;
}
.shopImageContainer {
    position: absolute;
    top: -9%;
    right: 32%;
    border-radius: 50%;
    z-index: 2;


}

.handleMarginProblem {
    padding: 0px;
    margin: 45px 0px;

}

.imagesSlidingContainer {
    all: initial !important;
    width: 100% !important;
    height: 150px;
    margin-bottom: 5px !important;
    display: flex !important;
    justify-content: center !important;;

}



}




.divAndImageContainer{
    display: flex;
    align-items: center;
    
    

}

.carouselImage{

    object-fit: contain;
    width: 100%;
    height: 200px;
}

.imagesSlidingContainer{
    width: 100%;
    height: 250px;
    margin-bottom: 5px !;
   


}

.FAB{
    height: 70px;
    width: 70px;
    background-color: beige;
    border-radius: 50%;
    position: fixed;
    bottom: 1%;
    right: 1%;
    z-index: 4;
    font-size: 40px;
    color: black!important;
    display: flex;
    justify-content: center;
    align-items: center;
box-shadow: 0px 4px 10px gray;
}


.pleaseInstallMetamask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 70px;
    background-color: red;
    color: white;
    margin-top: 10%;
    margin-left: 20%;
    font-size: 40px;
    border-radius: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width:780px){
    .pleaseInstallMetamask{
        margin-top: 40% ;
        margin: 40% auto;
        width: 95%;
        
    }


}